# Konfigurasi Editor (VS Code)
.vscode/

# Lingkungan Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Keamanan (Jangan sampai password database bocor!)
.env
.env.*

# Data Docker & File Checkpoint Lokal
# Biar riwayat log dan isi database nggak ikut ke-upload
pg_data/
checkpoints/
*.ckpt